.box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 15%);
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 4rem 4rem 4rem;
}
