.reviewBox {
    width: 500px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgba(69, 3, 155, 0.2);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(69, 3, 155, 0.2);
}

.reviewUser {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(69, 3, 155, 0.1);
}

.reviewDesc {
    text-align: left;
    
}

.reviewBtn {

}